/*  项目公用样式 */
html , body , div , p ,h1 , ul ,a img , li , hr ,h2 ,i {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

i {
    font-style: italic;
}

a {
    text-decoration: none;
}
