#MainBoxOne {
    position: relative;
    background-color: #FAFAFA;
}

#mainLis {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    z-index: 2;
    overflow: hidden;
}

.workTop {
    display: flex;
    position: relative;
}
.workImages {
    width: 20%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}
.workImages img {
    width: 100%;
    height: 100%;
}

.workImages , .workRight {
    margin: 10px;
}

.workImages img {
    width: 100%;
    height: 100%;
}

.workRight {
    box-sizing: border-box;
    width: 80%;
}

.workName span , .workDetail span , .workAuthor span {
    /*width: 70px;*/
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    margin-top: 15px;
    color: #000000;
    /*background-color: #40a6d6;*/
}
.workName p , .workDetail p , .workAuthor ul {
    margin-top: 15px;
    padding: 5px;
}
.workDetail {
    margin-top: 25px;
}
.workDetail p {
    text-indent: 66px;
    margin-top: 5px;
}

.workName , .workAuthor {
    display: flex;
}


/*歌曲*/
table{
    width: 100%;
    border-collapse: collapse;
}

.table-img {
    width: 45px;
    height: 45px;
    padding:0 18px;
}
.table-img img {
    width: 100%;
    height: 100%;
}

th,td{
    text-align: center;
    padding: 15px 0;
}

table thead tr{
    color: #999999;
    font-size: 14px;
}

table tbody tr:nth-child(odd){
    background-color: #f7f7f7;
}