/* this is home pages and background */
#MainBox {
    position: relative;
    background: url('../../../public/main.webp') 50% 0 repeat-x;
}

#mainLis {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    z-index: 2;
    overflow: hidden;
}

.main-title {
    width: 100%;
    padding: 50px 0 24px;
}

.main-title h2 {
    text-align: center;
}

.main-title-level {
    height: 50px;
    display: flex;
    justify-content: center;
}

.main-title-level li {
    color: #333;
    margin: 0 24px;
    cursor: pointer;
    z-index: 50;
}

.main-title-level li:hover {
    color: #39a9ed;
}

.main-title-level li:nth-child(1) {
    color: #39a9ed;
}

.main-box-first {
    margin-bottom: 20px;
    margin-right: -20px;
}
.main-ul {
    position: relative;
    display: flex;
    width: 1250%;
    flex-grow: 1;
    height: 310px;
    left: 0;
    transition: all .4s;
}

.main-ul::after {
    content: '';
    display: block;
    clear: both;
}

.main-lis {
    width: 1.6%;
    overflow: hidden;
}

.main-lis-allBox {
    margin-right: 20px;

}

.main-lis-kiss {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    zoom: 1;
    z-index: 100;
}

.main-lis-kiss:hover a img {
    transform: scale(1.1);
}


.main-lis-kiss:hover .main-masking{
    opacity: .5;
}

.main-lis-kiss:hover .main-cover {
    opacity: 1;
    transform: scale(1);
}


.main-lis-kiss img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .8s;
    display: block;
}

.main-lis-txt {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
}

.main-lis-txt a {
    color: #000;
}

.main-masking {
    position: absolute;
    background-color: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .8s;

}

.main-cover {
    background: url(../../../public/cover.png);
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 10;
    left: 50%;
    top: 50%;
    margin: -35px;
    transform: scale(.7);
    opacity: 0;
    transition: all .6s;
}

#mainSlide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.main-slide-left {
    float: left;
}

.main-slide-left  a , .main-slide-right a{
    position: absolute;
    width: 79px;
    height: 108px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(237,237,237);
    transition: all .5s ease-out;

}

.main-slide-right  a{
    right: 0;
    transform: translateX(79px);
}

.main-slide-left  a{
    transform: translateX(-79px);
}

.main-slide-right {
    float: right;
}

.main-slide-left , .main-slide-right {
    width: 50%;
    height: 100%;
}

.main-slide-left a i {
    background: url("../../../public/zuobian.png") no-repeat;
}

.main-slide-right a i {
    background: url("../../../public/youbian.png") no-repeat;
}

.main-slide-left a i , .main-slide-right a i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 39px;
    left: 20px;
    background-size: 36px 39px;
}

#MainBox:hover .main-slide-right a , #MainBox:hover .main-slide-left a {
    transform: translateX(0);
}

#mainOrigin ul{
    width: auto;
    height: auto;
    text-align: center;
    cursor: pointer;


}
#mainOrigin {
    z-index: 50;

}

#mainOrigin ul li {
    vertical-align: top;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 15px 20px 0;
    cursor: pointer;
}

/*PHang*/
#p-hang-box {
    position: relative;
}

#p-hang-box ul {
    width: 100%;
    display: flex;
    
}

#p-hang-box ul li {
    width: 25%;
    height: 400px;
    background-color: #000;
    margin-right: 20px;
}



