//目前对于css动画只有浅薄的理解（在此项目只用简单动画效果，如有需要可以自行更改或使用animate动画库）

// 搜索出现动画
.Search-enter-active
  animation: search 300ms

.Search-leave-active
  animation: search 300ms reverse

@keyframes search
  0%
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%) scale(0)
  50%
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%) scale(1.25)
  100%
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%) scale(1)


// 播放器显示
.PlayActive-enter-active
  animation: playlist 300ms

.PlayActive-leave-active
  animation: playlist 400ms reverse

@keyframes playlist
  0%
    transform: translateY(100%)
  10%
    transform: translateY(90%)
  20%
    transform: translateY(80%)
  30%
    transform: translateY(70%)
  40%
    transform: translateY(60%)
  50%
    transform: translateY(50%)
  60%
    transform: translateY(40%)
  70%
    transform: translateY(30%)
  80%
    transform: translateY(20%)
  90%
    transform: translateY(10%)
  100%
    transform: translateY(0)

// 登录头像点击动画
.headerMenu-enter-active
  animation: AudioMode .4s

.headerMenu-leave-active
  animation: AudioMode .4s reverse


//播放模式
.AudioMode-enter-active
  animation: AudioMode .4s

.AudioMode-leave-active
  animation: AudioMode .4s reverse

@keyframes AudioMode
  0%
    transform: scale(0.5)
  50%
    transform: scale(1.15)
  100%
    transform: scale(1)

//播放列表-滑动动画
.SongList-enter-active
  transition: all 500ms ease-out

.SongList-leave-active
  transition: all 500ms ease-out
  transition-delay: 550ms

.SongList-enter-from, .SongList-leave-to
  transform: translateX(400px)


.Box-enter-active, .Box-leave-active
  transition: all 300ms ease-out
  transition-delay: 300ms

.Box-enter-from, .Box-leave-to
  opacity: 0


//播放列表动画
.list-enter-active,
.list-leave-active
  transition: all 0.5s ease

.list-enter-from,
.list-leave-to
  opacity: 0
  transform: translateX(60px)
