html, body, div, p, h1, ul, a img, li, hr, h2, i, h3, button, span, input, h2
  margin: 0
  padding: 0

// 界面整体
@font-face
  font-family: myFree
  src: url("../../public/Ali.ttf")

*
  touch-action: manipulation

html
  font-size: 16px

body
  overflow: hidden
  font-family: myFree, serif

li
  list-style: none

i
  font-style: italic

img
  width: 100%
  height: 100%
  object-fit: cover

a
  text-decoration: none

span
  display: block
  color: #000

p
  color: #000

h3
  margin-bottom: 20px

button
  background-color: transparent
  border: none
  transition: all .3s
  border-radius: 35%

//css 通用
.RightHomeCss
  padding: 10px 50px
  box-sizing: border-box
  margin-bottom: 8.5rem
  margin-top: 3rem

.MusicUl-warp
  display: flex
  flex-wrap: wrap

.MusicUl-20
  display: flex

.MusicLi-48
  width: 48%
  padding: .3rem
  height: 18rem

.MusicBackground
  margin: .3rem


.MusicLi-20-day
  width: 10%
  padding: .49rem
  height: 9rem

.Music-img-15
  height: 15rem

.page-all-box
  margin: 0 3.9%

// 公共值
\:root
  --background-color-button: rgba(39, 46, 59, .04)
  --background-color-button-active: rgba(39, 46, 59, .18)
  --page-width: 100%
  --border-round: 50%
  --border: rgba(34, 45, 50, 0.13)
  --page-box-singer: 0 3.9%
  //  222
  --span-color: rgba(23, 34, 45, .3)
  --header-top-background-blur: 16px
  --header-top-background-color-opacity: .85

