#main-box {
  width: 100%
}

.swiper {
  // swiper 轮播css属性
  .n-carousel__dot {
    background-color: #d6d4d4;
  }

  .n-carousel__dot--active {
    background-color: #616060;
  }

  .n-carousel__arrow {
    color: var(--color);
  }
}

.HomeRecommendation, .HomeHotSinger, .HomeList, .HomeAlbum {
  margin-top: 40px;
}

.HomeHotSinger, .HomeList {
  .HomeListUl {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

.Recommended-PrivateMV {
  font-size: 30px;
  font-weight: 700;
  transform: translateX(20px) translateY(10px)
}

.RecommendedDaily , .PrivateMV {
  border-radius: 5px;
  height: 160px;
}

.RecommendedDaily {
  background: url("../1.png") no-repeat;
  background-size: cover;

}

.PrivateMV {
  background: url('../4.jpg') no-repeat;
  background-size: cover;

}


.HomeRecommendation {
  .main-ul {
    width: 1250%;
    height: auto;
    transition: all .8s;
    flex-direction: row;

    .main-lis-kiss {
      height: 140px;
      margin-bottom: 10px;
      border-radius: 3px;
    }

    li {
      width: 160px;
      height: auto;
      margin-right: 20px;
      flex-direction: column;

      h4 {
        flex: 1;
      }

      img {
        border-radius: 3px;
        overflow: hidden;
        transition: all .4s;

        &:hover {
          transform: scale(1.1);
          border-radius: 3px;
        }
      }
    }

  }
}


.HomeAlbum {
  .HomeAlbumUl {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
