#Box
  position: relative
  display: flex
  height: 100vh
  min-width: 1345px


  #RightRibbon
    position: relative
    flex: 2

  #LeftDisplayArea
    position: relative
    flex: 8
    overflow-x: hidden
    overflow-y: hidden
    height: auto



