.MV {

}

.LatestMV, .NetEasePick {
  margin-top: 20px;

}

.LatestMV {
  .MVUl {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;

    .MVLi {

      .MV-img {
        height: 240px;
      }
    }
  }
}

.NetEasePick {
  .MVUl {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
  }
}
