.Player {
  height: 100vh;
  margin: 0 12rem;
  z-index: 100;


  .Player-flex {
    height: 100%;
    grid-template-columns: 44% 50%;
    grid-column-gap: 20px;
  }

}

.backgroundColor {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10vh) saturate(120%);
  filter: blur(20vh);
  transform: scale(2);
  background-size: cover;
}

.Player-show, .Player-lyric, .Player-SongList {
  position: relative;
  z-index: 10;
}

.Player-show {
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 54vh;

  .PlayerBox {
    width: 100%;
    //height: 75vh;

    .Player-image {
      width: 100%;
      height: 56vh;
    }

    .Player-notice {
      margin-top: 24px;
      flex-direction: column;

      .Player-title {
        justify-content: space-between;

        .Player-SongTitleAndSinger {
          width: 200px;

          span:nth-of-type(1) {
            color: #000;
            font-size: 22px;
            font-weight: 600;
          }

          span:nth-of-type(2) {
            color: #2f2f2f;
            font-size: 16px;
          }
        }

        .Player-VolumeWithLikes {
          justify-content: space-between;

          .Player-volume {
            margin-left: 4px;

            .Audio-volume-text {
              width: 130px;
            }
          }

          .Player-unit , .Player-unit-love {
            width: 20px;
            height: 20px;
            padding: 5px;
            margin: 6px 4px 0 6px;
            transition: all 400ms;



            &:hover {
              transform: scale(1.2);
            }

            button {
              line-height: 30px;
            }
          }

          .Player-unit {
            i {
              color: rgba(255,255,255,.3);
            }
          }

        }


      }

      .Player-progress {
        margin-top: 10px;

        .progress-input {
          align-items: center;

          .Audio-Select {
            width: 100%;
            padding: 0 6px;
          }

          span {
            color: #000;
            font-size: 15px;
          }
        }


      }

      .Player-button {
        margin-top: 15px;
        align-items: center;
        justify-content: center;
        height: 50px;

        .Player-Play {
          padding: 0 16px;
          align-items: center;


          button {
            margin: 0 8px;
            box-sizing: border-box;
            border-radius: 50%;

            &:nth-child(1) , &:nth-child(4) {
              width: 35px;
              height: 35px;
            }

            &:nth-child(2) , &:nth-child(3) {
              width: 50px;
              height: 50px;
            }

            &:hover {
              background-color: rgba(255,255,255,.3);
            }
          }

        }

      }
    }
  }
}

.Player-lyric {
  margin-right: 100px;
  text-align: left;
  //height: 100vh;


  .Player-lyric-list {
    height: 100%;

    .PlayerLyric {
      color: #000;
      height: auto;
      line-height: 40px;
      padding: 5px 8px;
      margin-right: 25px;
      //opacity: .3;

      p {
        &:hover {
          color: rgba(255, 255, 255);
          opacity: .5;
        }
      }
    }
  }
}

.Player-SongList {
  height: 90vh;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);

  .player-songList-ul {
    grid-template-columns: repeat(auto-fill, 1fr);

    .player-songList-li {
      padding: 5px 8px;
      box-sizing: border-box;

      .songList-img {
        width: 50px;
        height: 50px;
      }

      .songList-title {
        text-align: left;
        padding-left: 5px;
        flex: 3;
        line-height: 50px;

        span {
          color: #130f0f;
        }

      }

      &:hover {
        background: rgba(0,0,0,.2);
      }

    }
  }
}

.Player-BackgroundImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
}