.Player-BackgroundImage
  width: 100%
  height: 100%
  position: absolute
  top: 0

.Player
  position: relative
  height: 100vh
  box-sizing: content-box
  margin: 0 12rem


  .Player-flex
    display: flex
    width: 100%
    height: 100%
    z-index: 10
    position: absolute
    text-align: center
    box-sizing: content-box
    justify-content: center
    padding: 0 100px

.Player-show, .Player-lyric, .Player-SongList
  position: relative

.Player-show
  flex: 1

  .Player-image
    width: 35rem
    height: 35rem
    left: 50%
    transform: translateX(-50%) translateY(-3rem)
    transition: all .4s

  .Player-title
    justify-content: space-between

    .PLayer-SongTitleAndSinger
      width: 60%

      & span:nth-child(1)
        color: #fff

      & span:nth-child(2)
        color: rgba(255, 255, 255, .3)
        font-size: 16px

    span
      font-size: 24px
      display: block

    .Player-unit
      width: 15%
      text-align: right

      button
        width: 2.5rem
        height: 2.5rem
        padding: 10px
        background-color: rgba(171, 171, 171, .2)
        border-radius: 50%

      .MoreFunction
        width: 3rem
        height: auto


  .progress-input
    .Audio-Select
      width: 100%
      top: 10px
      margin: 0 8px
      transform: translateX(-2px) translateY(8px)

  .Player-btn
    margin: 30px 40px 0 40px

    button
      width: 20%
      border-radius: 10px

      &:hover
        background-color: rgba(193, 200, 209, .6)
        border-radius: 10px


.Player-SongList, .Player-lyric
  flex: 1

.Player-lyric
  .Player-lyric-list
    transition: all .3s

    li
      width: 100%
      height: auto
      font-size: 1.7rem
      line-height: 4rem
      color: #fff
      opacity: .3

      &:hover
        background-color: rgba(255, 255, 255, .2)

.Player-SongList
  ul
    li
      width: 80%
      height: 4rem
      padding: 10px
      margin-left: 3rem

      &:hover
        background-color: rgba(255, 255, 255, .2)

      .Player-lyric-songs-list
        width: 100%
        height: 100%

        & div:nth-of-type(2)
          width: 100%
          text-align: left

        .flex-Music-sizing
          width: 12%
          margin-right: 3rem






