.component-hidden
  overflow: hidden

.component-absolute
  position: absolute

.component-relative
  position: relative

.component-index-1
  z-index: 1

.component-index-2
  z-index: 10

.component-index-3
  z-index: 20

.component-index-4
  z-index: 100

.component-index-5
  z-index: 10000

.component-flex
  display: flex

.component-grid
  display: grid

.component-justify
  justify-content: center

.component-content
  justify-content: space-between

.component-block
  display: block

.component-warp
  display: flex
  flex-wrap: wrap

.component-flex-items
  align-items: center

.component-width-100
  width: 100%

.component-width-40
  width: 40%

.component-width-30
  width: 30%

.component-width-25
  width: 25%

.component-height-100
  height: 100%

.component-font-weight
  font-weight: 700

.component-span-padding
  padding: 4px

.component-padding-0-1
  padding: 0 1rem

.component-padding-0-3
  padding: 0 3rem

.component-sizing
  box-sizing: border-box

.component-font-23
  font-size: 23px

.component-font-15
  font-size: 15px

.component-font-18
  font-size: 18px

.component-flex-between
  flex: 1

.component-pointer
  cursor: pointer

.component-background-fff
  background-color: #fff

.component-radius-50
  border-radius: 50%

.component-radius-2
  border-radius: 2px

.component-radius-4
  border-radius: 4px

.component-radius-8
  border-radius: 8px

.component-center
  text-align: center

.component-left
  text-align: left

.component-right
  text-align: right

.component-flex-text
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.component-flex-text-web
  display: -webkit-box
  overflow: hidden
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical

.component-flex-transition
  transition: all .4s

.component-flex-color-fff
  color: #fff

.component-flex-max-100
  max-width: 100%

//
\:root
  --play-div-translateY: 7px


.component-Player-translateY
  transform: translateY(calc(var(--play-div-translateY) + 12px))

.component-Player-translateY-icon
  transform: translateY(12px)





